**/.cache/**
**/.shadowdir/**
**/.spxcache/**
**/.spxindex/**
**/bin/**
generated
*.class
*.sig
.shadowdir
*.cache
.spxcache
.log
*.0
*.t
trans
workspaces/entitylang-extensions/.metadata/
workspaces/entitylang-extensions/SimpleEntityLang/include/
