**/.cache/**
**/.shadowdir/**
**/.spxcache/**
**/.spxindex/**
**/bin/**
generated
*.class
*.sig
.shadowdir
*.cache
.spxcache
.log
*.0
*.t
trans
workspaces/entitylang-extensions/.metadata/
workspaces/entitylang-extensions/SimpleEntityLang/include/
_attic/CommonLang/include/
_attic/EntityLang/include/
examples/LwcSPXLang/include/
workspaces/entitylang-extensions/EntityLangWithTuples/include/
workspaces/experimental_langs/.metadata/
