<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="lnq"
            description="MiniLinqQuery"
            language="MiniLinqQuery"
            derivedFrom="DynamicRoot"
            validator="MiniLinqQuery.MiniLinqQueryValidator"
            validatorClass="MiniLinqQuery.MiniLinqQueryValidator"
      ></language>
   </extension>
   <extension
         id="MiniLinqQuery.parser"
         name="MiniLinqQuery Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="MiniLinqQuery.MiniLinqQueryParseController"
            language="MiniLinqQuery">
      </parser>
   </extension>    
</plugin>
