<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="spx" description="SpoofaxLang" language="SpoofaxLang" derivedFrom="DynamicRoot" validator="org.strategoxt.imp.editors.spoofax.SpoofaxLangValidator" validatorClass="org.strategoxt.imp.editors.spoofax.SpoofaxLangValidator"></language>
       </extension>
       <extension id="org.strategoxt.imp.editors.spoofax.parser" name="SpoofaxLang Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.editors.spoofax.SpoofaxLangParseController" language="SpoofaxLang">
          </parser>
       </extension>  
       
      <extension  point="org.eclipse.ui.views">
	  	  <category  id="org.strategoxt.imp.editors.spoofax.category.views"  name="SpoofaxLang"> 
	  	  </category>
    	  
    	  <view
  	   		category="org.strategoxt.imp.editors.spoofax.category.views"
          class="org.strategoxt.imp.editors.spoofax.ui.views.SpxDependencyVisualizationView"
          id="org.strategoxt.imp.editors.spoofax.ui.views.SpxDependencyVisualizationView"
          name="SpoofaxLang Dependency Analyzer"
          icon="icons/dependency-view.gif"
          restorable="true">
           <!-- icons/obj16/packages.gif -->
      	 </view>
        	 
      	 <view
	    	   	category="org.strategoxt.imp.editors.spoofax.category.views"
       			class="org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView"
       			id="org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView"
       			name="Spoofaxlang Projects"
       			icon="icons/obj16/package.gif"
       			restorable="true">
	 				</view>
     </extension> 
     <extension  point="org.eclipse.ui.perspectives">
      <perspective
            class="org.strategoxt.imp.editors.spoofax.ui.perspective.PerspectiveFactory"
            icon="icons/spx-perspective.png"
            id="org.strategoxt.imp.editors.spoofax.DefaultPerspective"
            name="SpoofaxLangIDE">
      </perspective>
   </extension>
    <extension point="org.eclipse.ui.navigator.viewer">
    	 	<viewer
         		viewerId="org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView">
				</viewer>
	      <viewerContentBinding viewerId="org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView">
	         <includes>
	            <contentExtension
	                  isRoot="false"
	                  pattern="org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView.Content">
	            </contentExtension>
	         </includes>
	      </viewerContentBinding>
      
      </extension>
     <extension point="org.eclipse.ui.navigator.navigatorContent">  
       <navigatorContent
            activeByDefault="true"
            contentProvider="org.strategoxt.imp.editors.spoofax.ui.providers.SpxPackageExplorerContentProvider"
            id="org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView.Content"
            labelProvider="org.strategoxt.imp.editors.spoofax.ui.providers.SpxPackageExplorerLabelProvider"
            name="Spoofaxlang Package Explorer content"
            priority="normal">
         <actionProvider
               class="org.strategoxt.imp.editors.spoofax.ui.providers.SpxPackageExplorerActionProvider"
               id="cnfActionProvider">
         </actionProvider>
         <enablement>
            <or>
               <instanceof
                     value="org.strategoxt.imp.editors.spoofax.ui.model.SpoofaxlangCnfRoot">
               </instanceof>
               <instanceof
                     value="org.strategoxt.imp.editors.spoofax.ui.model.SpxProjectDependencyGraph">
               </instanceof>
               <instanceof
                     value="org.strategoxt.imp.editors.spoofax.ui.model.SpxModuleDescriptor">
               </instanceof>
               <instanceof
                     value="org.strategoxt.imp.editors.spoofax.ui.model.SpxPackageDescriptor">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
   </extension> 
   
   <!-- popup menu binding -->
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView">
         <popupMenu
                allowsPlatformContributions="true"
                id="org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView.PopupMenu">  
             <insertionPoint name="group.edit" />
             <insertionPoint name="group.reorganize" />         
          </popupMenu>
      </viewer>
    </extension>
    
    
    <!-- menu contributions -->
    
    <extension
         point="org.eclipse.ui.menus">
      <!-- Delete -->   
      <menuContribution
            locationURI="popup:org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView.PopupMenu?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="spoofaxlang.packageExplorer.popupmenu.delete"
               label="Delete"
               mnemonic="D"
               style="push">
         </command>
      </menuContribution>
      <!-- properties -->
      <menuContribution
            locationURI="popup:org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView.PopupMenu?after=group.properties"> 
         <command
               commandId="org.eclipse.ui.file.properties"
               id="spoofaxlang.packageExplorer.popupmenu.props"
               label="Properties"
               mnemonic="I"
               style="push">
         </command>
      </menuContribution>
      <!-- Refresh -->
      <menuContribution
            locationURI="popup:org.strategoxt.imp.editors.spoofax.ui.views.SpoofaxPackageExplorerView.PopupMenu?after=group.reorganize"> 
         <command
               commandId="org.eclipse.ui.file.refresh"
               id="spoofaxlang.packageExplorer.popupmenu.props"
               label="Refresh"
               mnemonic="R"
               style="push">
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.handlers">
      <!-- Delete handlers -->   
      <handler
            class="org.strategoxt.imp.editors.spoofax.ui.handlers.SpoofaxlangDeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="org.strategoxt.imp.editors.spoofax.ui.handlers.SpoofaxlangDeleteHandler.elementSelected.module">
            </reference>
         </activeWhen>
      </handler>
      
      <!-- Refresh handlers -->  
      <handler
            class="org.strategoxt.imp.editors.spoofax.ui.handlers.SpoofaxlangRefreshHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <reference
                  definitionId="org.strategoxt.imp.editors.spoofax.ui.handlers.SpoofaxlangDeleteHandler.elementSelected.project">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="org.strategoxt.imp.editors.spoofax.ui.handlers.SpoofaxlangDeleteHandler.elementSelected.project">
            </reference>
         </enabledWhen>
      </handler>
      
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.strategoxt.imp.editors.spoofax.ui.handlers.SpoofaxlangDeleteHandler.elementSelected.module">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.strategoxt.imp.editors.spoofax.ui.model.SpxModuleDescriptor">
               </instanceof>
            </iterate>
         </with>
      </definition>
      
      <definition
            id="org.strategoxt.imp.editors.spoofax.ui.handlers.SpoofaxlangDeleteHandler.elementSelected.project">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.strategoxt.imp.editors.spoofax.ui.model.SpxProjectDependencyGraph">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>    
 </plugin>
