<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="mbl"
            description="Mobl"
            language="Mobl"
            derivedFrom="DynamicRoot"
            validator="org.lang.mobl.MoblValidator"
            validatorClass="org.lang.mobl.MoblValidator"
      ></language>
   </extension>
   <extension
         id="org.lang.mobl.parser"
         name="Mobl Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.lang.mobl.MoblParseController"
            language="Mobl">
      </parser>
   </extension>    
</plugin>
