configuration
							  
	src:
		src | **
		
	codegen:
		// todir refers to the project directory where intermediate generated 
		// output is stored for further processing. 
		todir			 		: .shadowdir
		
		// STR outputmode can be configured as follows : jar | ctree.
		// Based on this value, ctree or jar file generated for the packages
		stroutputmode : ctree 	
		//stroutputmode : jar
	
	// Other project references are specified in this configuration section.
	projectreferences:
			JavaExpression   
	
	// options : compiler , analysis , symboltable,  declaration, none, all 
	log : none
	
	templatelang : disabled 
	
	
	
	
