configuration
	
	// For current project, following configuration section specifies the directories 
	// that will be included during building this project. 
	// It can be specified as follows : 
	//			directoryname | include-mode
	// Here- 
	//			
	//			directoryname : Refers to the name of the local directory. 
	//											It must be a relative path from the project-root.
	//
	//			include-mode  : It can have one of the following two values - 
	//                           .  : includes only current directory. Subdirectories of the current directory are not included.
	//                           ** : includes current directory and its subdirectories as well.
	//
	// If configuration file is missing or does not specify source, then default configuration is used during project build.
	// By default, it includes all the directories ( and their subdirectories) of the project during build. Hence, It is  
	// always recommended to explicitly specify the sources to include. 							  
	src:
		test | **
		test | .
	
	templatelang : enabled
		
	log: none
	
	//Todo dependency :  
	//imports:
	//  stratego-lib
	//  stratego-sglr
	//  stratego-gpp
	
	  
	codegen:
		// todir refers to the project directory where intermediate generated 
		// output is stored for further processing. 
		todir			 		: .shawdowdir
		
		// STR outputmode can be configured as follows : jar | ctree.
		// Based on this value, ctree or jar file generated for the packages
		stroutputmode : jar 
		//stroutputmode : ctree
	
	// Other project references are specified in this configuration section.
	projectreferences:
			//../DatabaseLang 
		
  
  			    
			  

			