<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="config" description="SpoofaxConfiguration" language="SpoofaxConfiguration" derivedFrom="DynamicRoot" validator="org.strategoxt.imp.editors.spoofax.configuration.SpoofaxConfigurationValidator" validatorClass="org.strategoxt.imp.editors.spoofax.configuration.SpoofaxConfigurationValidator"></language>
       </extension>
       <extension id="org.strategoxt.imp.editors.spoofax.configuration.parser" name="SpoofaxConfiguration Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.editors.spoofax.configuration.SpoofaxConfigurationParseController" language="SpoofaxConfiguration">
          </parser>
       </extension>    
    </plugin>